@mixin myFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

$red: #ed3434;
$primary-color: #ffffff;
$black-color: #404040;
$text-secondary: #636c81;
$light-grey: #f3f6fb;
